.button {
    width: 328px;
    height: 59px;
    border-radius: 60px;
    background-color: #5B6380;
    border: none;
    /* z-index: 1; */

}

.font {
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    font-family: 'Roboto';
    text-align: center;

    color: white;
}