.NewFamily {
    position: static;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100vw;
}

.area {
    position: relative;
    width: 500px;
    /* 100vh - header height size => 100vh - 8vh => 92vh */
    height: 1000px;
    

    
}

.pinkCircleBtn {
    position: absolute;
    top: 10px;
    left: -200px;

}

.purpleCircleBtn {
    position: absolute;
    bottom: 100px;
    left: 15px;
}

.btn {
    position: absolute;
    top: 73vh;
    /* hardcoding */
    /* left: 16px; */
    /* ( (16 / 360) * 100 )vw => 4.4vw */
}
