.imageStyle {
    position: relative;
    top: 268px;
    left: 152px;
    width: 56px;
    height: 56px;
}

.pText {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: #989CAB;
    top: 278px;
    left: 56px;
    width: 245px;
    height: 41px;
    position: relative;
}

.bubble {
    position: relative;
    top: 452px;
    left: 108px;
}