.uploadButton {
    width: 328px;
    height: 192px;
    top: 154px;
    left: 16px;
    background-color: #f3f4f7;
    color: #a9a9a9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

.selectBox {
    width: 224px;
    position: absolute;
    border-radius: 6px;
    padding: 8px;
    z-index: 2;
    top: 308px;
    left: 68px;
}

.selectBox select:focus {
    outline: none;
    border: solid 1.5px #9378ff;
}

.selectBox select {
    width: 224px;
    height: 33px;
    border: solid 1.5px #9378ff;
    border-radius: 6px;
    color: #a9a9a9;
    font-weight: 400;
    font-size: 13px;
}

.selectBox option {
    width: 224px; 
    height: 35px;
    line-height: 35px;
    border-radius: 6px;
    color: black;
    font-weight: 400;
    font-size: 11px;
    top: 8.75px;
    left: 8px;
    padding: 16px 0px 0px 0px;
    position: relative;
    cursor: pointer;
}

.selectedImage {
    width: 328px;
    height: 192px;
    object-fit: cover;
    top: 154px;
    left: 16px;
}

/* .wrapper{
    position: relative;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filebox{
    position: relative;
    height: auto;
    min-height: 200px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
}

.file{
    position: relative;
    transform: translate(5%, 70%);
    margin: 15px auto;
    width: 100%;
    min-width: 328px;
    height: 200px;
    border-radius: 7px;
    background-color: rgba(243, 244, 247, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.selecticon{
    position: absolute;
}

.imgSize{
    position: relative;
    width: 100%;
    right: 15px;
    margin-bottom: 20px;
    
}

input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
} */

