.member {
    width: 328px;
    height: 64px;
    position: relative;
    top: 125px;
    left: 16px;
    display: flex;
    align-items: center;
    background: #FBEEFF80;
    padding: 15px;
}

.details {
    margin-left: 10px;
}

.name {
    color: #1B1A57;
    font-size: 14px;
    font-weight: 400;
}

.check {
    margin-left: auto;
    cursor: pointer;
}

.checkIcon {
    color: #ccc;
}

.checkIconFilled {
    color: #5B6380;
}
