.btn {
    position: absolute;
    top: 54%; 
    left: 50%; 
    transform: translate(-50%, 300%); 
    width: 328px;
    height: 59px;
    border-radius: 60px;
    background-color: #5B6380;
}

.btn2 {
    width: 328px;
    height: 38px;
    border-radius: 60px;
    background-color: #9378FF;
    border: none;
    z-index: 1;
    position: absolute;
    top: 24%;
    left: 50%; 
    transform: translate(-50%, 300%);
}

.content {
    position: absolute;
    top: 13%;
    left: 50%;
    transform: translate(-50%, 230%);
}

.content2 {
    position: absolute;
    top: 11%;
    left: 50%;
    transform: translate(-50%, 250%);
    transition: background-color 0.3s ease-in-out;
}

.content3 {
    width: 142px;
    position: absolute;
    top: 11%;
    left: 50%;
    transform: translate(-115%, 250%);
}

.content2:hover {
    background-color: #D8D8D8;
}