.searchBar {
    width: 328px;
    height: 41px;
    top: 108px;
    left: 15px;
    background-color: #f3f4f7;
    border-radius: 7px;
    padding: 5px;
    position: relative;
    display: flex;
    align-items: center;
    font-size: 13px;
}

.searchBar input {
    width: 320px;
    height: 100%;
    border: none;
    outline: none;
    background: #f3f4f7;
}

.searchIcon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}
