.circle1 {
    width: 550px;
    height: 550px;
    background-color: #EF88A166;
    border-radius: 50%;
    position: absolute;
    top: 27px;
    left: -226px;
    transition: background-color .5s;
}

.circle1:hover {
    background-color: #EF88A1CC;
    cursor: pointer;
}

.circle2 {
    width: 550px;
    height: 550px;
    background-color: #D8D3EB;
    border-radius: 50%;
    position: absolute;
    top: 234px;
    left: 50px;
    transition: background-color .5s;
}

.circle2:hover {
    background-color: #A89AE0;
    cursor: pointer;
}

.title1 {
    color: #5B6380;
    font-size: 36px;
    line-height: 44px;
    font-family: "BM Dohyeon";
    width: 150px;
    height: 88px;
    position: absolute;
    top: 80px;
    left: 270px;
}

.title2 {
    color: #5B6380;
    font-size: 36px;
    line-height: 44px;
    font-family: "BM Dohyeon";
    width: 150px;
    height: 88px;
    position: absolute;
    top: 70px;
    left: 100px;
}