.btn {
    position: absolute;
    top: 54%; /* 상단 여백을 50%로 설정 */
    left: 50%; /* 좌측 여백을 50%로 설정 */
    transform: translate(-50%, 300%); /* 컨텐츠를 가운데로 이동 */
    width: 328px;
    height: 59px;
    border-radius: 60px;
    background-color: #5B6380;
}

.btn2 {
    width: 328px;
    height: 38px;
    border-radius: 60px;
    background-color: #9378FF;
    border: none;
    z-index: 1;
    position: absolute;
    top: 24%;
    left: 50%; 
    transform: translate(-50%, 300%);
}

/* .createfamily {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30%; 
} */

.content {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 230%);
}

.content2 {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 250%);
}