.btn {
    position: absolute;
    top: 50%; /* 상단 여백을 50%로 설정 */
    left: 50%; /* 좌측 여백을 50%로 설정 */
    transform: translate(-50%, 300%); /* 컨텐츠를 가운데로 이동 */
}

.btn2 {
    width: 328px;
    height: 38px;
    border-radius: 60px;
    background-color: #9378FF;
    border: none;
    z-index: 1;
    position: absolute;
    top: 272px;
    left: 16px;
}