.Header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.1);
    height: 8vh;
    max-height: 75px;

    background-color: white;

    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
}

.font {
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    font-family: 'Roboto';
    color: rgba(91, 99, 128, 1);
}

.back {
    position: absolute;
    left: 8vw;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.icon {
    position: absolute;
    right: 8vw;
    width: 21.32px;
    height: 26px;
    cursor: pointer;
}
.back{
    position: absolute;
    left: 8vw;
    width: 21.32px;
    height: 26px;
    cursor: pointer;
}