.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
}

.top {
    display: inherit;
    flex-direction: column;
    align-items: center;

    margin-top: 59px;
}

.img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.name {
    font-size: 24px;
    font-weight: 800;
    color: #1A1E25;
}

.email {
    font-size: 16px;
    color: #7D7F88;
}

.hr {
    width: 328px;
}

.bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 328px;
    height: 251px;
}

.pen {
    position: absolute;
    right: 8vw;
    top: 55px;

    width: 30px;
    height: 30px;

    color: #BFBFBF;
}