.page{
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    height: 666px;
    margin-top: 43px;
}
.label{
    color: #5B6380;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 19px;
    display: flex;
    justify-content:flex-start;
    margin: 0px;
    padding: 0px;
    width: 150px;
}
.smallinput{
    width: 240px;
    height: 46px;
   
    flex-shrink: 0;
    border-radius: 8px;
    border: 1.5px solid #A9A9A9;
    font-family: Roboto;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    padding-left: 11px; 
    margin-right:7px;
}
.labelbox{
    display: flex;
    justify-content: center;
    margin-bottom: 7px;
    margin-top: 20px;
    margin-left: -170px;
    
}
.input{
    width: 328px;
    height: 46px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1.5px solid #A9A9A9;
    color: #A9A9A9;
    padding-left: 11px;
    font-family: Roboto;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; 
    z-index: 1;
}
.certinput{
    display: flex;
    justify-content: center;
}
.delbtn{
    border: none;
    background:none;
    margin-left:-30px;
    color: #A9A9A9;
}
.delbtndetail{
    width:20px;
    height: 20px;
}

.inputcontainer{
    display: flex;
    justify-content: center;
}
.alladmitbox{
    display: flex;
    justify-content: center;
    margin-left: -90px;
    margin-bottom: -10px;
    margin-top: 55px;
}
.alladmit{
    display: flex;
    justify-content: flex-start;
    width: 200px;
    
}
.alladmittxt{
    z-index: 1;
    color: #5B6380;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}
.allcheckbtn{
    z-index: 1;
    padding: 0px;
    margin-right: 20px;
   
}
.signupbutn{
    display: flex;
    justify-content: center;
}
.smalladmitbox{
    z-index: 1;
    display: flex;
    justify-content: center;
}
.smalladmit{
    z-index: 1;
    display: flex;
    justify-content:space-between;
    width: 300px;
  
}

.smalladmittxt{
    z-index: 1;
    color: #A9A9A9;
    font-family: Roboto;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; 
    
}
.checkbutn{
    border: none;
    background: none;
    color: #A9A9A9;
    margin-top: -12px;
}
.clickedbtn{
    color:#5B6380;
}
.fileupload{
    display: flex;
    justify-content: center;
   margin-top: -150px;
   margin-bottom: 160px;
   margin-left: -20px;
   z-index: auto;
    
}
.filebtndetail{
    margin: 0;
    z-index: auto;
}
.profiletxt{
    display: flex;
    justify-content: center;
    flex-shrink: 0;
    color: #A9A9A9;
    text-align: center;
    font-family: Roboto;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    z-index: 1;
   
}
.hiddenbtn{
    background-color: white;
    padding: 0px;
    margin: 0px;
    color: none;
    border: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}