.page{
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    height: 700px;
}
.header{
    margin-top: 43px;
}
.doublecheck{
    display: flex;
    justify-content: center;
}

.h2{
    color: #5B6380;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 19px;
    display: flex;
    justify-content:flex-start;
    margin: 0px;
    padding: 0px;
    width: 150px;
}
.h2box{
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
    margin-top: 20px;
    margin-left: -170px;
}

.small{
    margin-right: 5px;
    margin-left: 2px;
}
.certbutn{
    margin-top: 10px;
   
}
.deletebutton{
    border: none;
    background:none;
    padding-top: 5px;
    color: #A9A9A9;
}
.delbutninputform{
    display: flex;
    justify-content: center;
}
.delbutninputwindow{
    width: 300px;
}
.nomalinput{
    display: flex;
    justify-content: center;
}
.alladmitbox{
    display: flex;
    justify-content: center;
    margin-left: -90px;
    margin-bottom: -10px;
    margin-top: 55px;
}
.alladmit{
    display: flex;
    justify-content: flex-start;
    width: 200px;
    
}
.alladmittxt{
   
    color: #5B6380;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}
.allcheckbtn{
    padding: 0px;
    margin-right: 20px;
   
}
.signupbutn{
    display: flex;
    justify-content: center;
}
.smalladmitbox{
    display: flex;
    justify-content: center;
}
.smalladmit{
    display: flex;
    justify-content:space-between;
    width: 300px;
  
}

.smalladmittxt{
    color: #A9A9A9;
    font-family: Roboto;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; 
    
}
.checkbutn{
    border: none;
    background: none;
    color: #A9A9A9;
    margin-top: -12px;
}

.fileupload{
    display: flex;
    justify-content:center;
    margin-top: -150px;
    margin-left: -20px;
    margin-bottom: 15px;
    padding: 0px;
    width: 2000px;
    height: 340px;
    
}
.profiletxt{
    display: flex;
    justify-content: center;
    
    flex-shrink: 0;
    color: #A9A9A9;
    text-align: center;
    font-family: Roboto;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
   
}