.btn {
    position: absolute;
    top: 54%; 
    left: 50%; 
    transform: translate(-50%, 300%); 
    width: 328px;
    height: 59px;
    border-radius: 60px;
    background-color: #5B6380;
}

.btn2 {
    position: absolute;
    top: 54%; 
    left: 50%; 
    transform: translate(-50%, 300%); 
    width: 328px;
    height: 59px;
    border-radius: 60px;
    background-color: #BFBFBF;
}

.btn3 {
    position: absolute;
    top: 41%; 
    left: 50%; 
    transform: translate(-50%, 300%); 
    width: 328px;
    height: 59px;
    border-radius: 60px;
    background-color: #EF88A1;
}

.content1 {
    width: 328px;
    height: 107px;
    top: 234px;
    left: 16px;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-40%, 100%);
    text-align: center;
}

.content2 {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, 170%);
    transition: background-color 0.3s ease-in-out;
}

.content3 {
    width: 225px;
    position: absolute;
    top: 3%;
    left: 80%;
    transform: translate(-115%, 250%);
}

.bold {
    width: 328px;
    height: 24px;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-40%, 580%);
    text-align: center;
    font-size: 20px;
    line-height: 24px;
}

.bold2 {
    width: 328px;
    height: 24px;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-40%, 850%);
    text-align: center;
    font-size: 16px;
    line-height: 24px;
}

.bold3 {
    width: 328px;
    height: 24px;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-56%, 720%);
    text-align: center;
    font-size: 20px;
    line-height: 24px;
    color: #EE2F51;
}

.bold4 {
    width: 328px;
    height: 24px;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, 720%);
    text-align: center;
    font-size: 20px;
    line-height: 24px;
    color: #EE2F51;
}

.blueBtn {
    background-color: #5B6380;
}

.content5 {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, 60%); 
    transition: background-color 0.3s ease-in-out;
}

.marginBetween {
    margin-top: 20px; /* 원하는 간격으로 조정 */
}

.blueBtn {
    background-color: #5B6380; 
    color: white; 
}