.imageStyle {
    position: relative;
    top: 138px;
    left: 152px;
    width: 56px;
    height: 56px;
}

.pText {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: #989CAB;
    top: 158px;
    left: 87px;
    width: 208px;
    height: 41px;
    position: relative;
}

.bubble {
    /* position: relative;
    top: 548px;
    left: 68px; */
    position: absolute;
    /* top: 10%; */
    left: 50%; /* 좌측 여백을 50%로 설정 */
    transform: translate(-50%, 1300%);
}

.content {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-90%, 150%);
}

.content2 {
    display: flex;
    justify-content: center; /* 가로 정렬을 가운데 정렬로 설정 */
    align-items: center; /* 세로 정렬을 가운데 정렬로 설정 */
    position: absolute;
    width: 325px;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -420%); /* 가로와 세로를 모두 중앙 정렬로 수정 */
}
