.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hr {
    width: 328px;
    margin-top: 50px;
}

.dotWrapper {
    display: flex;
    justify-content: space-around;
    width: 328px;
}

.dot {
    width: 13px;
    height: 13px;
    background-color: #5B6380;
    border-radius: 50%;
}

.bodyWrapper {
    display: flex;
    flex-wrap: wrap;

    width: 328px;

    margin-top: 23px;
    margin-left: 1px;
}

