@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: local("Roboto"),
        url("./Roboto-Regular.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "BM Dohyeon";
    src: url("./BMDOHYEON_ttf.ttf");
}

@font-face {
    font-family: "Poppins";
    src: url("./Poppins-SemiBold.ttf");
}