.content3 {
    width: 142px;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-115%, 10%);
}

.content {
    position: absolute;
    top: 6%;
    left: 50%;
    transform: translate(-50%, 200%);
}

.content2 {
    position: absolute;
    top: 7%;
    left: 50%;
    transform: translate(-50%, 200%);
    transition: background-color 0.3s ease-in-out;
}

.content2:hover {
    background-color: #D8D8D8;
}