*{
    font-family: Roboto;
}
#toptext{
    color: #5B6380;

    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 44px;
}
#topsmalltext{
        width: 292px;
    height: 12px;
    flex-shrink: 0;
    color: #A9A9A9;
   
    font-family: Roboto;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; 
}