.imageStyle {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 260%); 
}

.pText {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: #989CAB;
    width: 245px;
    height: 41px;
    position: relative;
    position: absolute;
    top: 36%;
    left: 50%;
    transform: translate(-50%, 260%); 
}



.bubble {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-37%, 345%); 
}

/* .text {
    position: absolute;
    top: 5%;
    left: 50%;
    width: 100%;
    transform: translate(-40%, 25%); 
} */

.text {
    position: absolute;
    top: 5%;
    left: 50%;
    width: 320px;
    transform: translate(-50%, 60%); 
}