.container {
    display: flex;
    flex-direction: column;
}

.imageStyle {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 460%); 
}

.pText {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: #989CAB;
    width: 100%;
    height: 41px;
    position: absolute;
    top: 16%;
    left: 50%;
    transform: translate(-50%, 870%); 
}


.content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.union {
    position: relative;
    top: 20%;
    left: 78%;
    transform: translate(-72%, 375%); 
}

/* .union {
    width: 223px;
    height: 43px;
    border-radius: 60px;
    background-color: #9378FF;
    margin-top: 500px;
} */

.text {
    position: absolute;
    top: 5%;
    left: 50%;
    width: 320px;
    transform: translate(-50%, 60%); 
}