.postHeader{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}

.userinfo{
    display: flex;
    align-items: center;
    justify-content: baseline;
    gap: 14px;
    margin-bottom: 10px;
}

.userinfo span:nth-child(1){
    display: flex;
    width: 39px;
    height: 39px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    border-radius: 99999px;
    background-color: #F0F0F0;
}

.userinfo span:nth-child(2){
color: var(--d-9-d-9-d-9, #535353);
text-align: center;

/* family_fonts/LB1 - 13 */
font-family: Roboto;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: 16px; /* 123.077% */
}

.date{
    color: #BEBEBE;
text-align: center;

/* family_fonts/LB2 - 11 */
font-family: Roboto;
font-size: 11px;
font-style: normal;
font-weight: 400;
line-height: 13px; /* 118.182% */
}