.circle{
    width: 550px;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 550px;
}

.circle1 {

    background-color: #EF88A166;

    transition: background-color .5s;

}

.activeCircle1 {
    background-color: #EF88A1CC;
}

.circle2 {

    background-color: #D8D3EB;

    transition: background-color .5s;
}

.activeCircle2 {
    background-color: #A89AE0;
}

.title1 {
    color: #5B6380;
    font-size: 36px;
    line-height: 44px;
    font-family: "BM Dohyeon";
    width: 150px;
    height: 88px;
    position: absolute;
}

.title2 {
    color: #5B6380;
    font-size: 36px;
    line-height: 44px;
    font-family: "BM Dohyeon";
    width: 150px;
    height: 88px;
}