.personInfo {
    width: 328px;
    height: 64px;
    position: relative;
    /* top: 110px;
    left: 16px; */
    border-bottom: 1px solid #Bfbfbf;
    display: flex;
    align-items: center;
}

.details {
    margin-left: 10px;
}

.name {
    color: #1B1A54;
    font-size: 14px;
}

.check {
    margin-left: auto;
    cursor: pointer;
}

.checkIcon {
    color: #ccc;
}

.checkIconFilled {
    color: #5B6380;
}
